$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html, body {
  margin: 0;
  font-family: "Helvetica Neue";
  font-weight: lighter;
}

#menu-content {
  color: #fff;
  overflow-x: hidden;
  width: 0px;
  background: #000;
  height: 100%;
  z-index: 100;
  left: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  transition: width 0.5s ease;
  background-color:rgba(0,0,0,0.8);
  #logo {
    background: #fff;
    height: 80px;
    padding-top: 10px;
    padding-left: 15px;
    img {
      width: 200px;
    }
  }
  ul#servers {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li.server {
      font-size: 20px;
      display: block;
        margin:0px;
        padding: 0px;
      .label {
        font-weight: normal;
        display: block;
        margin:0px;
        padding: 10px;
        background-color: rgba(0,0,0,0.5);
        text-align: left;
        font-size: 18px;
      }
    }

    ul.layers {
      text-align: left;
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      li {
        padding: 8px;
        font-size: 14px;
        display: block;
        background: none;
        padding-left: 20px;
        padding-right: 20px;
        &:hover {
          background-color: rgba(0,0,0,0.5);
        }
        span {
          font-size: 20px;
          float: right;
        }
      }
    }

  }
  &.open {
    width: 320px;
  }
  #menu-button {
    left: 240px;
  }
}

#menu-button {
  background: #000;
  left: 0px;
  top: 0px;
  position: absolute;
  font-size: 25px;
  margin: 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  z-index: 1000;
  color: #fff;
  background-color:rgba(0,0,0,0.8);
  transition: background-color 0.5s ease;
  &:hover {
    color: #000;
    background: #fff;
    opacity: 0.8;
    cursor: pointer;
  }
}

div.olMapViewport {
  z-index: 0;
 }

#map div.olControlZoom {
  position: absolute;
  right: 10px;
  top: 10px;
  left: auto;
  a {
    background: #000;
    opacity: 0.8;
    transition: background-color 0.5s ease;
    &:hover {
      color: #000;
      background: #fff;
      opacity: 0.8;
      cursor: pointer;
    }
  }

}

#map {
  z-index: 0;
  background: #fff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
}

#OpenLayers_Control_LayerSwitcher_24_layersDiv {
    opacity: 0.9;
    &.layersDiv {
      background: #000;
      border-top-left-radius:1em;
      border-bottom-left-radius:1em;
    }

}

